@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">GitHub Actions Demo</h1>
    <p>Deployed from GitHub actions based on <a href="https://github.com/cwiederspan/appsvc-github-actions" target="_blank">this repository</a>.</p>
</div>
