name: Build Deploy App Service

on:
  push:
    branches:
      - master

env:
  APP_CODE_PATH: './src/Demo.Site'
  TF_CODE_PATH: './terraform'
  DOTNET_VERSION: '3.1.x'
  APP_SVC_NAME: ''

jobs:
  terraform:
    runs-on: ubuntu-latest
    env:
      # ARM_TENANT_ID: '${{ fromJson(secrets.AZURE_CREDENTIALS).tenantId }}'              #${{ secrets.ARM_TENANT_ID }}
      ARM_TENANT_ID: '72f988bf-86f1-41af-91ab-2d7cd011db47'              #${{ secrets.ARM_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: '${{ fromJson(secrets.AZURE_CREDENTIALS).subscriptionId }}'  #${{ secrets.ARM_SUBSCRIPTION_ID }}
      ARM_CLIENT_ID: '${{ fromJson(secrets.AZURE_CREDENTIALS).clientId }}'              #${{ secrets.ARM_CLIENT_ID }}
      ARM_CLIENT_SECRET: '${{ fromJson(secrets.AZURE_CREDENTIALS).clientSecret }}'      #${{ secrets.ARM_CLIENT_SECRET }}

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1

    - name: Terraform Init
      working-directory: ${{ env.TF_CODE_PATH }}
      run: terraform init -backend-config="access_key=${{ secrets.ARM_STORAGE_KEY }}"

    - name: Terraform Apply
      working-directory: ${{ env.TF_CODE_PATH }}
      run: terraform apply -auto-approve

  build-and-deploy:
    runs-on: ubuntu-latest
    steps:

      # Checkout the repo
      - uses: actions/checkout@master
      
      # Setup .NET Core SDK
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }} 
      
      # Run dotnet build and publish
      - name: Build and publish
        working-directory: ${{ env.APP_CODE_PATH }}
        run: |
          dotnet build --configuration Release
          dotnet publish -c Release -o './publish'

      # Log into Azure
      - name: 'Login to Azure'
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      
      # Deploy to Azure Web apps
      - name: Webapp deploy
        uses: azure/webapps-deploy@v2
        with: 
          app-name: ${{ secrets.AZURE_WEBAPP_NAME }}
          package: '${{ env.APP_CODE_PATH }}/publish'